<section id="main-content">
  <section class="wrapper">

    <br>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Title:</strong>
          <%= @event.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @event.description %>
        </p>

        <p>
          <strong>Start time:</strong>
          <%= @event.start %>
        </p>

        <p>
          <strong>End time:</strong>
          <%= @event.end %>
        </p>
    <p>
      <strong>Calendar:</strong>
      <%= @event.calendar.name %>
    </p>
    <p>
      <strong>Completion:</strong>
      <%if @event.completed? %>
          Completed
      <% else %>

          Not Completed
      <% end %>
      <%= check_box_tag 'completed', @event.id, @event.completed, class: 'event_check_box', 'data-load-event-url' => switch_event_completed_path(event: @event.id) %>
    </p>



  </section>
</section>