<section id="main-content">
  <section class="wrapper">
    <br>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @calendar.name %>
        </p>

        <p>
          <strong>Color:</strong>
          <%= @calendar.color %>
        </p>

    <p>
      <strong>Total Events:</strong>
      <%= @calendar.events.count %>
    </p>
    <br>
    <div class="row">
      <div class="col-md-4 portlets">

          <div class="panel-heading">
            <div class="pull-left">Events</div>


          <div class="panel-body">
            <div class="padd sscroll">
              <ul class="chats">
                <% @calendar.events.each do |event|%>
                    <li class="by-me">
                      <div class="chat-content">
                        <div class="chat-meta"><%= event.title %> <span class="pull-right"><%= event.start %> -- <%= event.end %></span></div>
                        <%= event.description %>
                        <br>
                        <%= event.completed ? 'Done' : 'Not Completed' %>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
</section>