<section id="main-content">
  <section class="wrapper">
    <br>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @calendar.name %>
        </p>

        <p>
          <strong>Color:</strong>
          <span style="background-color: <%= @calendar.color %>;"><%= @calendar.color %></span>
        </p>

    <p>
      <strong>Total Events:</strong>
      <%= @calendar.events.count %>
    </p>
    <br>
    <div class="row">
      <div class="col-md-4 portlets">

          <div class="panel-heading">
            <div class="pull-left">Events</div><br>


          <div class="panel-body">
            <div class="padd sscroll">
              <ul class="chats">
                <% @calendar.events.each_with_index do |event, index|%>
                    <%= index+1 %>
                    <li class="by-me">
                      <div class="chat-content">
                        <div class="chat-meta"><%= event.title %> <span class="pull-right"><%= event.start.strftime('%d-%m-%Y') %> -- <%= event.end.strftime('%d-%m-%Y') %></span></div>
                        <%= event.description %>
                        <br>
                        <% eventStatus = event.completed ? 'Done' : 'Not Completed' %>
                        <% if eventStatus == 'Done' %>
                            <span style="color: darkslategray">
                              Done
                            </span>
                        <% else %>
                            <span style="color: indianred;">
                                 Not Completed
                            </span>
                        <% end %>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
</section>