<!DOCTYPE html>
<html ng-app>
<head>
  <%= favicon_link_tag 'sm.jpg' %>
  <title>Sajjad Murtaza</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="containers">

    <% if user_signed_in? %>
      <div id="nav_bar"><%#= link_to 'Full Calendar', events_path, class:"ui icon calendar"  %>
        <%= link_to "<i class='ui home icon'></i> Home".html_safe, default_index_path %>
        <%= link_to "<i class='ui calendar icon'></i> Calendar".html_safe, events_path %>

        <%= link_to "<i class='ui tags icon'></i> Tagging".html_safe, tagging_select_tos_path %>
        <%= link_to "<i class='ui tablet icon'></i> Api".html_safe, employees_path %>
        <%= link_to "<i class='ui building icon'></i> NestedForm".html_safe, projects_path %>
        <%= link_to "<i class='ui settings icon'></i> Enumeration".html_safe, enumerations_path %>

        <%= link_to "<i class='ui payment icon'></i> Pagination".html_safe, billings_path %>
        <%= link_to "<i class='ui retweet icon'></i> ParameterizeForm".html_safe, parameterize_form_index_path %>
        <%= link_to "<i class='ui file outline icon'></i> Pdf".html_safe, important_points_path(format: :pdf) %>
        <%= link_to "<i class='ui terminal icon'></i> Others".html_safe, others_index_path %>
        <%= link_to "<i class='ui bar chart icon'></i> Chart View".html_safe, organize_data_path %>
        <%= link_to "<i class='ui photo icon'></i> Image Cropping".html_safe, contacts_path %>
        <%= link_to "<i class='ui filter icon'></i> Skill".html_safe, skills_path %>
        <%= link_to "<i class='ui edit icon'></i> Edit Profile".html_safe, edit_user_path(current_user) %>

        <%= link_to "<i class='ui Sign out icon'></i> Logout".html_safe, destroy_user_session_path, method: :delete %>
  </div>

    <% end %>

  <%= yield %>
</div>




</body>
</html>
